.navbar {
    width: 1215px;
    height: 81px;
    margin-left: 150px;
    /* border: 2px solid black;    */
    display: flex;
}
.logo{
    margin-top: 40px;
}
.pages ul{
    display: flex;
    justify-content: space-between;
    margin-left: 500px;
    margin-top:50px;
    gap: 50px;
    list-style: none;
}
.pages ul li a{
    text-decoration: none;
    color: #000000;
}
.logo h1{
    font-family: "Whisper", cursive;
    font-weight: 400;
    font-style: normal;
}